[submodule "src/github.com/st3v/tracerr"]
	path = src/github.com/st3v/tracerr
	url = git@github.com:st3v/tracerr
[submodule "src/github.com/cention-nazri/jetconf"]
	path = src/github.com/cention-nazri/jetconf
	url = git@github.com:cention/jetconf.git
[submodule "src/github.com/cention-nazri/pidrec"]
	path = src/github.com/cention-nazri/pidrec
	url = git@github.com:cention/pidrec.git
[submodule "src/github.com/st3v/translator"]
	path = src/github.com/st3v/translator
	url = git@github.com:cention-noah/translator
[submodule "src/github.com/huandu/facebook"]
	path = src/github.com/huandu/facebook
	url = git@github.com:huandu/facebook
[submodule "src/github.com/manucorporat/sse"]
	path = src/github.com/manucorporat/sse
	url = git@github.com:manucorporat/sse
[submodule "src/github.com/mattn/go-colorable"]
	path = src/github.com/mattn/go-colorable
	url = git@github.com:mattn/go-colorable
[submodule "src/github.com/gin-gonic/gin"]
	path = src/github.com/gin-gonic/gin
	url = git@github.com:gin-gonic/gin
[submodule "src/gopkg.in/bluesuncorp/validator.v5"]
	path = src/gopkg.in/bluesuncorp/validator.v5
	url = https://gopkg.in/bluesuncorp/validator.v5
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/bradfitz/gomemcache"]
	path = src/github.com/bradfitz/gomemcache
	url = git@github.com:bradfitz/gomemcache
[submodule "src/github.com/cention-mujibur-rahman/gobcache"]
	path = src/github.com/cention-mujibur-rahman/gobcache
	url = git@github.com:cention-mujibur-rahman/gobcache
[submodule "src/github.com/asaskevich/govalidator"]
	path = src/github.com/asaskevich/govalidator
	url = git@github.com:asaskevich/govalidator
[submodule "src/github.com/tealeg/xlsx"]
	path = src/github.com/tealeg/xlsx
	url = git@github.com:tealeg/xlsx
[submodule "src/github.com/wai-cention/smpp34"]
	path = src/github.com/wai-cention/smpp34
	url = git@github.com:wai-cention/smpp34
[submodule "src/github.com/wai-cention/wbxml-go"]
	path = src/github.com/wai-cention/wbxml-go
	url = git@github.com:wai-cention/wbxml-go
[submodule "src/github.com/wai-cention/at"]
	path = src/github.com/wai-cention/at
	url = git@github.com:wai-cention/at
[submodule "src/github.com/googollee/go-socket.io"]
	path = src/github.com/googollee/go-socket.io
	url = git@github.com:cention-sany/go-socket.io
[submodule "src/github.com/googollee/go-engine.io"]
	path = src/github.com/googollee/go-engine.io
	url = git@github.com:cention/go-engine.io
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = git@github.com:gorilla/websocket
[submodule "src/github.com/cention-mujibur-rahman/golang-linkedin"]
	path = src/github.com/cention-mujibur-rahman/golang-linkedin
	url = git@github.com:cention-mujibur-rahman/golang-linkedin
[submodule "src/github.com/pmezard/go-difflib"]
	path = src/github.com/pmezard/go-difflib
	url = git@github.com:pmezard/go-difflib
[submodule "src/github.com/hhkbp2"]
	path = src/github.com/hhkbp2/go-strftime
	url = git@github.com:hhkbp2/go-strftime
[submodule "src/github.com/qiniu/iconv"]
	path = src/github.com/qiniu/iconv
	url = https://github.com/qiniu/iconv
[submodule "src/github.com/mxk/go-imap"]
	path = src/github.com/mxk/go-imap
	url = https://github.com/mxk/go-imap
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/github.com/microcosm-cc/bluemonday"]
	path = src/github.com/microcosm-cc/bluemonday
	url = git@github.com:cention-sany/bluemonday
[submodule "src/github.com/itsjamie/gin-cors"]
	path = src/github.com/itsjamie/gin-cors
	url = git@github.com:itsjamie/gin-cors
[submodule "src/github.com/cention-sany/gomail"]
	path = src/github.com/cention-sany/gomail
	url = git@github.com:cention-sany/gomail.git
[submodule "src/github.com/cention-sany/openssl"]
	path = src/github.com/cention-sany/openssl
	url = git@github.com:cention-sany/openssl.git
[submodule "src/github.com/spacemonkeygo/spacelog"]
	path = src/github.com/spacemonkeygo/spacelog
	url = git@github.com:spacemonkeygo/spacelog.git
[submodule "src/github.com/cention-sany/utf7"]
	path = src/github.com/cention-sany/utf7
	url = git@github.com:cention-sany/utf7.git
[submodule "src/github.com/cention-sany/mime"]
	path = src/github.com/cention-sany/mime
	url = git@github.com:cention-sany/mime.git
[submodule "src/github.com/glycerine/rbuf"]
	path = src/github.com/glycerine/rbuf
	url = git@github.com:glycerine/rbuf.git
[submodule "src/github.com/cention-sany/go.enmime"]
	path = src/github.com/cention-sany/go.enmime
	url = git@github.com:cention-sany/go.enmime.git
[submodule "src/gopkg.in/alexcesaro/quotedprintable.v2"]
	path = src/gopkg.in/alexcesaro/quotedprintable.v2
	url = https://gopkg.in/alexcesaro/quotedprintable.v2
[submodule "src/github.com/cention-sany/net"]
	path = src/github.com/cention-sany/net
	url = git@github.com:cention-sany/net.git
[submodule "src/github.com/aws/aws-sdk-go"]
	path = src/github.com/aws/aws-sdk-go
	url = git@github.com:aws/aws-sdk-go
[submodule "src/github.com/go-ini/ini"]
	path = src/github.com/go-ini/ini
	url = git@github.com:go-ini/ini.git
[submodule "src/github.com/jmespath/go-jmespath"]
	path = src/github.com/jmespath/go-jmespath
	url = git@github.com:jmespath/go-jmespath
[submodule "src/github.com/gorilla/securecookie"]
	path = src/github.com/gorilla/securecookie
	url = git@github.com:gorilla/securecookie
[submodule "src/github.com/paulmey/go-ntlmssp"]
	path = src/github.com/paulmey/go-ntlmssp
	url = git@github.com:paulmey/go-ntlmssp.git
[submodule "src/github.com/cention-sany/log"]
	path = src/github.com/cention-sany/log
	url = git@github.com:cention-sany/log.git
[submodule "src/github.com/fvbock/endless"]
	path = src/github.com/fvbock/endless
	url = git@github.com:fvbock/endless.git
[submodule "src/github.com/boj/redistore"]
	path = src/github.com/boj/redistore
	url = git@github.com:boj/redistore
[submodule "src/github.com/garyburd/redigo"]
	path = src/github.com/garyburd/redigo
	url = git@github.com:garyburd/redigo
[submodule "src/github.com/gin-gonic/contrib"]
	path = src/github.com/gin-gonic/contrib
	url = git@github.com:gin-gonic/contrib
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = git@github.com:golang/protobuf
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = git@github.com:gorilla/context
[submodule "src/github.com/gorilla/sessions"]
	path = src/github.com/gorilla/sessions
	url = git@github.com:gorilla/sessions
[submodule "src/github.com/jaytaylor/html2text"]
	path = src/github.com/jaytaylor/html2text
	url = git@github.com:jaytaylor/html2text.git
[submodule "src/github.com/durango/go-credit-card"]
	path = src/github.com/durango/go-credit-card
	url = git@github.com:durango/go-credit-card.git
[submodule "src/github.com/cention-sany/uuencode"]
	path = src/github.com/cention-sany/uuencode
	url = git@github.com:cention-sany/uuencode.git
[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = git@github.com:mattn/go-sqlite3
[submodule "src/github.com/line/line-bot-sdk-go"]
	path = src/github.com/line/line-bot-sdk-go
	url = git@github.com:line/line-bot-sdk-go.git
[submodule "src/github.com/cention-sany/vk"]
	path = src/github.com/cention-sany/vk
	url = git@github.com:cention-sany/vk.git
[submodule "src/github.com/codeship/go-retro"]
	path = src/github.com/codeship/go-retro
	url = git@github.com:codeship/go-retro.git
[submodule "src/github.com/cention-mujibur-rahman/go-instagram"]
	path = src/github.com/cention-mujibur-rahman/go-instagram
	url = git@github.com:cention-mujibur-rahman/go-instagram.git
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = git@github.com:golang/sys
[submodule "src/github.com/cention-sany/jsonapi"]
	path = src/github.com/cention-sany/jsonapi
	url = git@github.com:cention-sany/jsonapi.git
[submodule "src/github.com/cention-sany/api2go"]
	path = src/github.com/cention-sany/api2go
	url = git@github.com:cention-sany/api2go.git
[submodule "src/github.com/SermoDigital/jose"]
	path = src/github.com/SermoDigital/jose
	url = git@github.com:SermoDigital/jose.git
[submodule "src/github.com/cention-sany/iconv"]
	path = src/github.com/cention-sany/iconv
	url = git@github.com:cention-sany/iconv.git
[submodule "src/github.com/ChimeraCoder/anaconda"]
	path = src/github.com/ChimeraCoder/anaconda
	url = git@github.com:cention-mujibur-rahman/anaconda.git
[submodule "src/github.com/ChimeraCoder/tokenbucket"]
	path = src/github.com/ChimeraCoder/tokenbucket
	url = git@github.com:ChimeraCoder/tokenbucket.git
[submodule "src/github.com/azr/backoff"]
	path = src/github.com/azr/backoff
	url = git@github.com:azr/backoff
[submodule "src/github.com/dustin/go-jsonpointer"]
	path = src/github.com/dustin/go-jsonpointer
	url = git@github.com:dustin/go-jsonpointer.git
[submodule "src/github.com/garyburd/go-oauth"]
	path = src/github.com/garyburd/go-oauth
	url = git@github.com:garyburd/go-oauth.git
[submodule "src/github.com/dustin/gojson"]
	path = src/github.com/dustin/gojson
	url = git@github.com:dustin/gojson.git
[submodule "src/github.com/satori/go.uuid"]
	path = src/github.com/satori/go.uuid
	url = git@github.com:satori/go.uuid
[submodule "src/xi2.org/x/logrot"]
	path = src/xi2.org/x/logrot
	url = git@github.com:cention/logrot
[submodule "src/github.com/sagansystems/douceur"]
	path = src/github.com/sagansystems/douceur
	url = git@github.com:sagansystems/douceur.git
[submodule "src/github.com/aymerick/douceur"]
	path = src/github.com/aymerick/douceur
	url = git@github.com:aymerick/douceur.git
[submodule "src/github.com/gorilla/css"]
	path = src/github.com/gorilla/css
	url = git@github.com:gorilla/css.git
[submodule "src/github.com/shurcooL/httpfs"]
	path = src/github.com/shurcooL/httpfs
	url = git@github.com:shurcooL/httpfs
[submodule "src/github.com/shurcooL/vfsgen"]
	path = src/github.com/shurcooL/vfsgen
	url = git@github.com:shurcooL/vfsgen
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = https://go.googlesource.com/tools
[submodule "src/github.com/NYTimes/gziphandler"]
	path = src/github.com/NYTimes/gziphandler
	url = git@github.com:NYTimes/gziphandler
[submodule "src/github.com/xaviiic/twilioGo"]
	path = src/github.com/xaviiic/twilioGo
	url = git@github.com:xaviiic/twilioGo.git
[submodule "src/github.com/koding/websocketproxy"]
	path = src/github.com/koding/websocketproxy
	url = git@github.com:koding/websocketproxy
[submodule "src/github.com/facebookgo/grace"]
	path = src/github.com/facebookgo/grace
	url = git@github.com:facebookgo/grace
[submodule "src/github.com/facebookgo/httpdown"]
	path = src/github.com/facebookgo/httpdown
	url = git@github.com:facebookgo/httpdown
[submodule "src/github.com/facebookgo/clock"]
	path = src/github.com/facebookgo/clock
	url = git@github.com:facebookgo/clock
[submodule "src/github.com/facebookgo/stats"]
	path = src/github.com/facebookgo/stats
	url = git@github.com:facebookgo/stats
[submodule "src/github.com/nbutton23/zxcvbn-go"]
	path = src/github.com/nbutton23/zxcvbn-go
	url = git@github.com:nbutton23/zxcvbn-go
[submodule "src/github.com/dustin/go-humanize"]
	path = src/github.com/dustin/go-humanize
	url = git@github.com:dustin/go-humanize
[submodule "src/github.com/google/gops"]
	path = src/github.com/google/gops
	url = git@github.com:google/gops
[submodule "src/github.com/alicebob/miniredis"]
	path = src/github.com/alicebob/miniredis
	url = git@github.com:alicebob/miniredis
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = git@github.com:stretchr/testify
[submodule "src/github.com/bsm/redeo"]
	path = src/github.com/bsm/redeo
	url = git@github.com:bsm/redeo
[submodule "src/github.com/google/jsonapi"]
	path = src/github.com/google/jsonapi
	url = git@github.com:google/jsonapi
[submodule "src/github.com/cenkalti/backoff"]
	path = src/github.com/cenkalti/backoff
	url = git@github.com:cenkalti/backoff
[submodule "src/github.com/cention-tobias/go-aspell"]
	path = src/github.com/cention-tobias/go-aspell
	url = git@github.com:cention-tobias/go-aspell.git
[submodule "src/golang.org/x/oauth2"]
	path = src/golang.org/x/oauth2
	url = git@github.com:golang/oauth2
[submodule "src/github.com/fsnotify/fsnotify"]
	path = src/github.com/fsnotify/fsnotify
	url = git@github.com:fsnotify/fsnotify
[submodule "src/github.com/containous/traefik"]
	path = src/github.com/containous/traefik
	url = git@github.com:cention/traefik
[submodule "src/github.com/cention/go-bindata"]
	path = src/github.com/containous/go-bindata
	url = git@github.com:cention/go-bindata
[submodule "src/github.com/timewasted/go-check-certs"]
	path = src/github.com/timewasted/go-check-certs
	url = git@github.com:timewasted/go-check-certs
[submodule "src/github.com/360EntSecGroup-Skylar/excelize"]
	path = src/github.com/360EntSecGroup-Skylar/excelize
	url = git@github.com:360EntSecGroup-Skylar/excelize
[submodule "src/github.com/extrame/xls"]
	path = src/github.com/extrame/xls
	url = git@github.com:extrame/xls
[submodule "src/github.com/extrame/goyymmdd"]
	path = src/github.com/extrame/goyymmdd
	url = git@github.com:extrame/goyymmdd
[submodule "src/github.com/extrame/ole2"]
	path = src/github.com/extrame/ole2
	url = git@github.com:extrame/ole2
[submodule "src/github.com/mohae/deepcopy"]
	path = src/github.com/mohae/deepcopy
	url = git@github.com:mohae/deepcopy
[submodule "src/github.com/gomodule/redigo"]
	path = src/github.com/gomodule/redigo
	url = git@github.com:gomodule/redigo
[submodule "src/github.com/mna/redisc"]
	path = src/github.com/mna/redisc
	url = git@github.com:mna/redisc
[submodule "src/google.golang.org/api"]
	path = src/google.golang.org/api
	url = https://github.com/googleapis/google-api-go-client
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/cloud.google.com/go"]
	path = src/cloud.google.com/go
	url = https://github.com/googleapis/google-cloud-go
[submodule "src/go.opencensus.io"]
	path = src/go.opencensus.io
	url = https://github.com/census-instrumentation/opencensus-go
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/googleapis/go-genproto
[submodule "src/github.com/hashicorp/golang-lru"]
	path = src/github.com/hashicorp/golang-lru
	url = git@github.com:hashicorp/golang-lru
[submodule "src/github.com/jinzhu/inflection"]
	path = src/github.com/jinzhu/inflection
	url = git@github.com:jinzhu/inflection.git
[submodule "src/mellium.im/sasl"]
	path = src/mellium.im/sasl
	url = git@github.com:mellium/sasl.git
[submodule "src/github.com/urfave/cli"]
	path = src/github.com/urfave/cli
	url = git@github.com:urfave/cli
[submodule "src/github.com/go-pg/pg"]
	path = src/github.com/go-pg/pg
	url = git@github.com:cention-han/pg.git
[submodule "src/github.com/cpuguy83/go-md2man"]
	path = src/github.com/cpuguy83/go-md2man
	url = git@github.com:cpuguy83/go-md2man
[submodule "src/github.com/googleapis/gax-go"]
	path = src/github.com/googleapis/gax-go
	url = https://github.com/googleapis/gax-go.git
