[submodule "src/github.com/st3v/tracerr"]
	path = src/github.com/st3v/tracerr
	url = git@github.com:st3v/tracerr
[submodule "src/github.com/cention-nazri/logrot"]
	path = src/github.com/cention-nazri/logrot
	url = git@github.com:cention-nazri/logrot.git
[submodule "src/github.com/cention-nazri/jetconf"]
	path = src/github.com/cention-nazri/jetconf
	url = git@github.com:cention-nazri/jetconf.git
[submodule "src/github.com/cention-nazri/pidrec"]
	path = src/github.com/cention-nazri/pidrec
	url = git@github.com:cention-nazri/pidrec.git
[submodule "src/github.com/st3v/translator"]
	path = src/github.com/st3v/translator
	url = git@github.com:st3v/translator
[submodule "src/github.com/huandu/facebook"]
	path = src/github.com/huandu/facebook
	url = git@github.com:huandu/facebook
[submodule "src/github.com/manucorporat/sse"]
	path = src/github.com/manucorporat/sse
	url = git@github.com:manucorporat/sse
[submodule "src/github.com/mattn/go-colorable"]
	path = src/github.com/mattn/go-colorable
	url = git@github.com:mattn/go-colorable
[submodule "src/github.com/gin-gonic/gin"]
	path = src/github.com/gin-gonic/gin
	url = git@github.com:gin-gonic/gin
[submodule "src/gopkg.in/bluesuncorp/validator.v5"]
	path = src/gopkg.in/bluesuncorp/validator.v5
	url = https://gopkg.in/bluesuncorp/validator.v5
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/bradfitz/gomemcache"]
	path = src/github.com/bradfitz/gomemcache
	url = git@github.com:bradfitz/gomemcache
[submodule "src/github.com/cention-mujibur-rahman/gobcache"]
	path = src/github.com/cention-mujibur-rahman/gobcache
	url = git@github.com:cention-mujibur-rahman/gobcache
[submodule "src/github.com/asaskevich/govalidator"]
	path = src/github.com/asaskevich/govalidator
	url = git@github.com:asaskevich/govalidator
[submodule "src/github.com/tealeg/xlsx"]
	path = src/github.com/tealeg/xlsx
	url = git@github.com:tealeg/xlsx
[submodule "src/github.com/wai-cention/smpp34"]
	path = src/github.com/wai-cention/smpp34
	url = git@github.com:wai-cention/smpp34
[submodule "src/github.com/wai-cention/wbxml-go"]
	path = src/github.com/wai-cention/wbxml-go
	url = git@github.com:wai-cention/wbxml-go
[submodule "src/github.com/googollee/go-socket.io"]
	path = src/github.com/googollee/go-socket.io
	url = git@github.com:googollee/go-socket.io
[submodule "src/github.com/googollee/go-engine.io"]
	path = src/github.com/googollee/go-engine.io
	url = git@github.com:googollee/go-engine.io
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = git@github.com:gorilla/websocket
[submodule "src/github.com/cention-mujibur-rahman/golang-linkedin"]
	path = src/github.com/cention-mujibur-rahman/golang-linkedin
	url = git@github.com:cention-mujibur-rahman/golang-linkedin
[submodule "src/github.com/pmezard/go-difflib"]
	path = src/github.com/pmezard/go-difflib
	url = git@github.com:pmezard/go-difflib
[submodule "src/github.com/hhkbp2"]
	path = src/github.com/hhkbp2/go-strftime
	url = git@github.com:hhkbp2/go-strftime
[submodule "src/github.com/qiniu/iconv"]
	path = src/github.com/qiniu/iconv
	url = https://github.com/qiniu/iconv
[submodule "src/github.com/mxk/go-imap"]
	path = src/github.com/mxk/go-imap
	url = https://github.com/mxk/go-imap
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/github.com/microcosm-cc/bluemonday"]
	path = src/github.com/microcosm-cc/bluemonday
	url = git@github.com:microcosm-cc/bluemonday
[submodule "src/github.com/itsjamie/gin-cors"]
	path = src/github.com/itsjamie/gin-cors
	url = git@github.com:itsjamie/gin-cors
[submodule "src/github.com/cention-sany/gomail"]
	path = src/github.com/cention-sany/gomail
	url = git@github.com:cention-sany/gomail.git
[submodule "src/github.com/cention-sany/openssl"]
	path = src/github.com/cention-sany/openssl
	url = git@github.com:cention-sany/openssl.git
[submodule "src/github.com/spacemonkeygo/spacelog"]
	path = src/github.com/spacemonkeygo/spacelog
	url = git@github.com:spacemonkeygo/spacelog.git
[submodule "src/github.com/cention-sany/utf7"]
	path = src/github.com/cention-sany/utf7
	url = git@github.com:cention-sany/utf7.git
[submodule "src/github.com/cention-sany/mime"]
	path = src/github.com/cention-sany/mime
	url = git@github.com:cention-sany/mime.git
[submodule "src/github.com/glycerine/rbuf"]
	path = src/github.com/glycerine/rbuf
	url = git@github.com:glycerine/rbuf.git
[submodule "src/github.com/cention-sany/go.enmime"]
	path = src/github.com/cention-sany/go.enmime
	url = git@github.com:cention-sany/go.enmime.git
[submodule "src/gopkg.in/alexcesaro/quotedprintable.v2"]
	path = src/gopkg.in/alexcesaro/quotedprintable.v2
	url = https://gopkg.in/alexcesaro/quotedprintable.v2
